
.checkout-container {
  display: flex;
  justify-content: center;
}

.stripe-form {
  display: flex;
  justify-content: center;
  width: 40vw;
  /* border: black solid 1px; */
}

.card-element {
  display: flex;
  margin: 10px 0;
}

.stripe-textbox {
  width: 300px;
}

.purch-price {
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
  align-items: center;
}