
input{
  padding: 0 0.75rem !important;
  margin:0.5rem 0 !important;
  height: 1.2rem !important;
  font-size: 0.75rem !important
}
textarea{
  font-size: 0.75rem !important
}
.brandTitle1 {
  text-align: center;
  font-size: 1rem !important;
  padding-top: 0.5rem
}
.submit-button{
  background:rgba(41, 68, 68, 0.267) !important;
}

