:root {
  --main-background: #9FBCCA;
  --white: white;
  --brown: rgb(47, 23, 23);
}

.navContainer {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 5.5rem;
  background: var(--main-background);
}

.brandContainer {
  /* border: black solid 1px; */
  display: flex;
  height: 5.5rem;
  width: 40vw;
  flex-direction: column;
  justify-content: center;

}

.brand {
  text-align: center;
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
}

.nameLibby {
  font-size: 2rem;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  color: var(--white)
}

.navLinksContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 5.5rem;
}

.iconSpacing {
  display: flex;
  width: 10vw;
  height: 5.5rem;
  margin-right: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.cartIcon {
  font-size: 4rem;
  color: var(--white);
}