
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Oxygen&display=swap');

.navbar2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-brand{
  text-align: center;
  
}
.name-libby{
  font-family: 'Alex Brush', cursive;
  color: white;
  text-decoration: none;
  margin-bottom: 0;
}