#product-card {
  margin-bottom: 10px;
  color:rgba(0, 0, 0, 0.712);
  }

.card-body{
  color:rgba(0, 0, 0, 0.753);
  padding: 10px 10px !important
}
.list-group-item{
  padding: 10px 10px !important
}