.whats-new-section{
  width:100%;
}

.whatsnew{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.whats-new-section-card{
  padding: 8px;
  text-align: center;
  background: rgba(134, 185, 181, 0.842); /* Gray border */
  margin: 5px;
  transition: all 0.3s linear;
}
.whats-new-text{
  color:rgba(0, 0, 0, 0.712);
}
.whats-new-section-card:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.image-in-whatnew-section{
  width: 300px;
  height: 300px;
  transition: all 0.5s linear;
}
