* :root {
  --main-background: #86B9B6;
  --white: white;
  --brown: rgb(68, 28, 28);
}
.card-container{
  display: flex ;
  flex-wrap: wrap;
}
.card {
  width: 18rem !important;
  padding: 40px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.9);
}

.btn1 {
  background: red;
  padding: 5px;
}
