* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 960px;
  background: whitesmoke;
  padding: 50px 0;
  margin: 50px 0;
}
