body{
  font-family: 'Oxygen', sans-serif !important;
}
.text-title{
  font-family: 'Alex Brush', cursive;
}

.cart-button{
  font-size: 1rem;
  background: transparent;
  border: 0.05rem solid rgb(187, 183, 183);
  color: rgb(0,0,0,0.5);
  border-radius: 0.5rem;
  padding :0.2rem 0.5rem;
  cursor: pointer;
  margin-left: 0.2rem;
  transition: all 0.5s ease-in-out;
  text-decoration: none
}
.cart-button:hover{
  background: rgb(73, 102, 100);
  color: rgba(241, 236, 236, 0.5);
  text-decoration: none
}
